{% extends 'partials/base.html' %}

{% block content %}
    <style>

        .two-divs .right-side .form-control {
            width: 200px; /* Set width for input fields */
        }
    </style>
    <div class="container">
        <div class="row two-divs ">
            <div class="col-4 left-side d-flex align-items-center justify-content-center">
                <p class="chit-chat-title">
                    Chit<span>Chat</span>
                </p>
                <img src="{{ url_for('static', filename="imgs/logo_image.png") }}" class="image-logo">
                <p class="enjoy-text">ENJOY!</p>
                <p class="privacy-text">Privacy policy and terms of service!</p>
            </div>

            <div class="col-8 right-side d-flex flex-column align-items-center justify-content-center">
                <img src="{{ url_for('static', filename="imgs/logo_image.png") }}" class="image-logo mb-4">
                <form action="" method="post">
                    <div class="input-group mb-3">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                        <input type="text" class="form-control input-sm custom-width" placeholder="Email" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" class="form-control input-sm custom-width" placeholder="Password"
                               required>
                    </div>
                    <div class="text-center">
                        <a type="submit" class="btn btn-success btn-sm">
                            Login
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </div>
                    <p class="register">You Don't Have an Account?
                        <a href="{{ url_for('register') }}">Register !</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
