{% extends 'partials/base.html' %}

{% block content %}

    <div class="container">
        <div class="row two-divs my-5">
            <div class="col-4 left-side d-flex align-items-center justify-content-center">
                <p class="chit-chat-title">
                    Chit<span>Chat</span>
                </p>
                <img src="{{ url_for('static', filename="imgs/logo_image.png") }}" class="image-logo">
                <p class="enjoy-text">ENJOY!</p>
                <p class="privacy-text">Privacy policy and terms of service!</p>
            </div>

            <div class="col-8 right-side d-flex flex-column align-items-center justify-content-center">
                <img src="{{ url_for('static', filename="imgs/logo_image.png") }}" class="image-logo mb-4">
                <form action="" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bi bi-envelope-fill"></i>
                        </span>
                            <input type="text" class="form-control input-sm custom-width" placeholder="Email" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="bi bi-person"></i>
                        </span>
                            <input type="text" class="form-control input-sm custom-width" placeholder="Username" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" class="form-control input-sm custom-width" placeholder="Password"
                               required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                        <input type="password" class="form-control input-sm custom-width" placeholder="Repeat Password"
                               required>
                    </div>
                    <div class="text-center">
                        <a type="submit" class="btn btn-success btn-sm">
                            Register
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                    </div>
                    <p class="register">You already Have an Account?
                        <a href="{{ url_for('login_user') }}">Login!</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
