{% extends 'partials/base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="profile-container">
    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}" alt="Profile Picture">
    <div class="profile-info">
        <h2>{{ current_user.username|title }}</h2>
        <p>{{ current_user.email|upper }}</p>
    </div>
    <div class="profile-details">
        <form class="status-form" method="post" action="{{ url_for('update_user_profile', user_id=current_user.id) }}">
            {{ form.hidden_tag() }}
            <div>
                <span>User Name</span>
                <p>{{ form.username(class='form-control', value=user_to_update.username) }}</p>
            </div>
            <div>
                <span>Name</span>
                <p>{{ form.name(class='form-control', value=user_to_update.name) }}</p>
            </div>
            <div>
                <span>Phone Number</span>
                <p>{{ form.phone_number(class='form-control', value=user_to_update.phone_number) }}</p>
            </div>
            <div>
                <span>Street</span>
                <p>{{ form.street(class='form-control', value=user_to_update.street) }}</p>
            </div>
            <div>
                <span>City</span>
                <p>{{ form.city(class='form-control', value=user_to_update.city) }}</p>
            </div>
            <div>
                <span>Email</span>
                <p>{{ form.email(class='form-control', value=user_to_update.email) }}</p>
            </div>
            <div>
                <span>Status</span>
                <p>{{ form.connected(class='form-control', value=user_to_update.connected) }}</p>
            </div>
            <a href="{{ url_for('update_user_profile', user_id=current_user.id) }}"
               class="btn btn-danger text-center">
                Cancel
            </a>
            <button type="submit" class="btn btn-info text-center">Submit</button>
        </form>
    </div>
</div>

{% endif %}
{% endblock %}
