{% extends 'partials/base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="profile-container">
    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}" alt="Profile Picture">
    <div class="profile-info">
        <h2>{{ current_user.username|title }}</h2>
        <p>{{ current_user.email|upper }}</p>
    </div>
    <div class="profile-details">
        <div>
            <span>User Name</span>
            <p>{{ current_user.username }}</p>
        </div>
        <div>
            <span>Name</span>
            <p>{{ current_user.name }}</p>
        </div>
        <div>
            <span>Phone Number</span>
            <p>{{ current_user.phone_number }}</p>
        </div>
        <div>
            <span>Street</span>
            <p>{{ current_user.street }}</p>
        </div>
        <div>
            <span>City</span>
            <p>{{ current_user.city }}</p>
        </div>
        <div>
            <span>Email</span>
            <p>{{ current_user.email }}</p>
        </div>
        <div>
            <span>Status</span>
            <p>
                {% if current_user.connected %}
                Online
                {% else %}
                Offline
                {% endif %}
            </p>
        </div>
        <a href="{{ url_for('update_user_profile', user_id=current_user.id) }}">Update Your Profile</a>
    </div>
</div>

{% endif %}
{% endblock %}
