{% extends 'partials/base.html' %}

{% block content %}
    {% for user in all_us %}
        {{ user.username }}
    {% endfor %}
    {% if current_user.is_authenticated %}
        <h2>You are welcome: {{ current_user.username }}</h2>

        <div class="main-container mx-5">
            <div class="row">
                <div class="welcome-online-users">
                    <div class="col-4 online-users">
                        <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}" class="logo-user"
                             height="100">
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username">
                    </div>

                    <div class="col-8 welcome-logo">
                        <p class="welcome-here">You are Welcomed Here!</p>
                        <img src="{{ url_for('static', filename='imgs/logo_image.png') }}">
                        <h1 class="enjoy-text">ENJOY!</h1>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h2>You are welcome: {{ current_user.username }}</h2>

        <p>You are not allowed to be here try to login or register</p>
    {% endif %}
{% endblock %}