{% extends 'partials/base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="main-container mx-5 my-5">
    <div class="left-user-logo">
        <div class="dropdown">
            <div>
                <img class="user-logo-img" src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}"
                     onclick="toggleDropdown()">
                <h3 class="" style="color:white;">
                    {{ current_user.username|title }} - id= {{ current_user.id }}
                    <i class="bi bi-circle-fill online-circle"></i>
                </h3>
            </div>

            {% if current_user.connected %}
            {% else %}
            <i class="bi bi-circle-fill offline-circle"></i>
            {% endif %}
            <div id="dropdownMenu" class="dropdown-content">
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('user_profile', user_id=current_user.id) }}">Profile</a>
                <a href="#">Settings</a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
            </div>
        </div>
        <form class="form-inline" method="post">
            <input type="text" name="search" placeholder="Search..">
        </form>
        <div class="online-users">
            <span>Online users</span>
            <span>{{ all_users|count }}</span>
        </div>

        <div class="users-online-info">
            {% for user in all_users %}
            <div class="info-users">
                <div class="img-full-name">
                    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}">
                    <a href="javascript:void(0);" onclick="loadChat({{ current_user.id }}, {{ user.id }})"
                       class="full-name-tag">
                        {{ user.username|title }} - {{ user.id }}
                    </a>
                </div>
                {% if user.connected %}
                <i class="bi bi-circle-fill online-circle"></i>
                {% else %}
                <i class="bi bi-circle-fill offline-circle"></i>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="online-users">
            <span>Groups</span>
            <span>dd</span>
        </div>
        <div class="users-online-info">
            <div class="info-users">
                <div class="img-full-name">
                    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}">
                    <p>Group Name</p>
                </div>
                <span>3</span>
            </div>
            <div class="info-users">
                <div class="img-full-name">
                    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}">
                    <p>Group Name</p>
                </div>
                <span>245</span>
            </div>
            <div class="info-users">
                <div class="img-full-name">
                    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}">
                    <p>Group Name</p>
                </div>
                <span>24</span>
            </div>
            <div class="info-users">
                <div class="img-full-name">
                    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}">
                    <p>Group Name</p>
                </div>
                <span>30</span>
            </div>
            <div class="info-users">
                <div class="img-full-name">
                    <img src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}">
                    <p>Group Name</p>
                </div>
                <span>2998</span>
            </div>
        </div>
    </div>
    <div class="right-side-logo">
        <div id="chat-container">
            <!-- Chat messages will be loaded here -->
        </div>
        <div class="input-send-btn" style="display: none;">
            <input type="hidden" id="sender_id" value="{{ current_user.id }}">
            <input type="hidden" id="receiver_id">
            <input class="input-message" name="message_to_send" type="text" placeholder="Type your text here">
            <a class="send-message" href="javascript:void(0);">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                     class="bi bi-send" viewBox="0 0 20 20">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="profile-section hidden-section">
        <img class="user-logo-img" src="{{ url_for('static', filename='imgs/chitchat_logo.jpg') }}">
        <div class="settings-add-user">
            <a class="link-user" href="">
                <i class="bi bi-plus-circle icon-circle"></i>
            </a>
            <a class="link-user" href="">
                <i class="bi bi-gear-wide-connected icon-circle"></i>
            </a>
        </div>
        <div class="online-users">
            <span>Shared Files</span>
            <span>20</span>
        </div>

        <div class="">
            <div class="shared_files">
                <p class="text-center">daily_basis_for_time.pdf</p>
                <p class="text-center">daily_basis_for_time.pdf</p>
                <p class="text-center">daily_basis_for_time.pdf</p>
                <p class="text-center">daily_basis_for_time.pdf</p>
                <p class="text-center">daily_basis_for_time.pdf</p>
            </div>
        </div>
    </div>
</div>
{% else %}
<h2>You are welcome: {{ current_user.username }}</h2>
<p>You are not allowed to be here try to log in or register</p>
{% endif %}
{% endblock %}
